/target
/target_test
**/*.rs.bac
**/*.rs.segnalibri.bac
**/*.rs.audiobook.bac
**/*.pdb
**/*.d
.cargo-packager
*.log
istruzioni_compilazione.txt
filedocapertocometxt.txt
# log.txt
service/
vcpkg_installed/
Service/integra.txt

claude.md
nul
